@font-face {
    font-family: 'raj-bold';
    font-weight: normal;
    font-style: normal;
    url('Rajdhani-Bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'raj-light';
    font-weight: normal;
    font-style: normal;
    url('Rajdhani-Light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'raj-medium';
    font-weight: normal;
    font-style: normal;
    url('Rajdhani-Medium-webfont.ttf') format('truetype');

}

@font-face {
    font-family: 'raj-regular';
    font-weight: normal;
    font-style: normal;
    url('Rajdhani-Regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'raj-semibold';
    font-weight: normal;
    font-style: normal;
    url('Rajdhani-SemiBold-webfont.ttf') format('truetype');
}
