@font-face {
    font-family: 'rajdhanibold';
    font-weight: normal;
    font-style: normal;
    src: url('Rajdhani-Bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'rajdhanilight';
    font-weight: normal;
    font-style: normal;
    src: url('Rajdhani-Light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'rajdhanimedium';
    font-weight: normal;
    font-style: normal;
    src: url('Rajdhani-Medium-webfont.ttf') format('truetype');

}

@font-face {
    font-family: 'rajdhaniregular';
    font-weight: normal;
    font-style: normal;
    src: url('Rajdhani-Regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'rajdhanisemibold';
    font-weight: normal;
    font-style: normal;
    src: url('Rajdhani-SemiBold-webfont.ttf') format('truetype');
}
