@font-face {
    font-family: 'raj-bold';
    font-weight: normal;
    font-style: normal;
    src: url('Rajdhani-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'raj-light';
    font-weight: normal;
    font-style: normal;
    src: url('Rajdhani-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'raj-medium';
    font-weight: normal;
    font-style: normal;
    src: url('Rajdhani-Medium.ttf') format('truetype');

}

@font-face {
    font-family: 'raj-regular';
    font-weight: normal;
    font-style: normal;
    src: url('Rajdhani-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'raj-semibold';
    font-weight: normal;
    font-style: normal;
    src: url('Rajdhani-SemiBold.ttf') format('truetype');
}
